# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.log

# Entorno virtual (si usas venv)
venv/
env/

# Dependencias y paquetes instalados
*.egg-info/
*.dist-info/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de bases de datos
*.db
*.sqlite3

